<%- include ../shared/header.ejs %>

<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
  <tr>
    <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
      <div style="font-family:helvetica;font-size:35px;line-height:1;text-align:center;color:#F45E43;">
        Welcome to My Site!
      </div>
    </td>
  </tr>
  <tr>
    <td style="font-size:0px;padding:10px 25px;word-break:break-word;">
      <p style="border-top:solid 4px #F45E43;font-size:1;margin:0px auto;width:100%;"> </p>
    </td>
  </tr>
  <tr>
    <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
      <div style="font-family:helvetica;font-size:20px;line-height:1;text-align:center;color:#5a6270;">
        We are very excited to have you on board. We are adding new functionalities every week, we will try to keep you posted.<br />
        However, you can contact us on our Discord channel or by email.<br />
        We're very happy to have a chat with you.<br />
        See you there!
      </div>
    </td>
  </tr>
</table>

<%- include ../shared/footer.ejs %>
